In [15]:
import pandas as pd

In [16]:
df_raw = df.copy()

In [17]:
data = {
    "IncidentID": range(1, 11),
    "System": [
        "Email", "CRM", "Website", "Database", "Website",
        "Email", "CRM", "Database", "Website", "Email"
    ],
    "Severity": [
        "High", "Medium", "High", "Critical", "Medium",
        "Low", "High", "Critical", "Medium", "Low"
    ],
    "OpenedTime": [
        "2024-01-01 08:15", "2024-01-02 09:30", "2024-01-03 11:00",
        "2024-01-04 14:45", "2024-01-05 10:20", "2024-01-06 16:00",
        "2024-01-07 13:10", "2024-01-08 18:30", "2024-01-09 09:50",
        "2024-01-10 07:40"
    ],
    "ResolvedTime": [
        "2024-01-01 10:45", "2024-01-02 12:00", "2024-01-03 15:30",
        "2024-01-04 20:15", "2024-01-05 12:00", "2024-01-06 17:10",
        "2024-01-07 16:40", "2024-01-08 23:30", "2024-01-09 12:30",
        "2024-01-10 09:00"
    ]
}

df = pd.DataFrame(data)
df

   IncidentID    System  Severity        OpenedTime      ResolvedTime
0           1     Email      High  2024-01-01 08:15  2024-01-01 10:45
1           2       CRM    Medium  2024-01-02 09:30  2024-01-02 12:00
2           3   Website      High  2024-01-03 11:00  2024-01-03 15:30
3           4  Database  Critical  2024-01-04 14:45  2024-01-04 20:15
4           5   Website    Medium  2024-01-05 10:20  2024-01-05 12:00
5           6     Email       Low  2024-01-06 16:00  2024-01-06 17:10
6           7       CRM      High  2024-01-07 13:10  2024-01-07 16:40
7           8  Database  Critical  2024-01-08 18:30  2024-01-08 23:30
8           9   Website    Medium  2024-01-09 09:50  2024-01-09 12:30
9          10     Email       Low  2024-01-10 07:40  2024-01-10 09:00

In [18]:
df["OpenedTime"] = pd.to_datetime(df["OpenedTime"])
df["ResolvedTime"] = pd.to_datetime(df["ResolvedTime"])

df.dtypes

IncidentID               int64
System                  object
Severity                object
OpenedTime      datetime64[ns]
ResolvedTime    datetime64[ns]
dtype: object

In [19]:
df["ResolutionMinutes"] = (
    df["ResolvedTime"] - df["OpenedTime"]
).dt.total_seconds() / 60

df[["IncidentID", "System", "Severity", "ResolutionMinutes"]]

   IncidentID    System  Severity  ResolutionMinutes
0           1     Email      High              150.0
1           2       CRM    Medium              150.0
2           3   Website      High              270.0
3           4  Database  Critical              330.0
4           5   Website    Medium              100.0
5           6     Email       Low               70.0
6           7       CRM      High              210.0
7           8  Database  Critical              300.0
8           9   Website    Medium              160.0
9          10     Email       Low               80.0

In [20]:
df.head()

,IncidentID,System,Severity,OpenedTime,ResolvedTime,ResolutionMinutes
0,1,Email,High,2024-01-01 08:15:00,2024-01-01 10:45:00,150.0
1,2,CRM,Medium,2024-01-02 09:30:00,2024-01-02 12:00:00,150.0
2,3,Website,High,2024-01-03 11:00:00,2024-01-03 15:30:00,270.0
3,4,Database,Critical,2024-01-04 14:45:00,2024-01-04 20:15:00,330.0
4,5,Website,Medium,2024-01-05 10:20:00,2024-01-05 12:00:00,100.0

In [21]:
df_clean = df.copy()

In [22]:
import os

os.makedirs("../data/raw", exist_ok=True)

df_raw.to_csv(
    "../data/raw/incident_data_raw.csv",
    index=False
)

In [23]:
os.makedirs("../data/processed", exist_ok=True)

df_clean.to_csv(
    "../data/processed/clean_incident_data.csv",
    index=False
)